*{
    box-sizing: border-box;
    margin: 50px;
}

body {
    background-color: white;
}

.card1 {
    margin: 25px;
    border-radius: 15px;
    color: blue;
    background-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card2 {
    margin: 25px;
    border-radius: 15px;
    color: blue;
    background-color: rgb(233, 93, 116);
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    border: 3px solid #ffffff;
    border-radius: 15px; /* Cantos levemente arredondados */
  }